
body{
    background: #CD5D5D;
    color: #000;
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;

}
header{
    text-align: center;
    padding: 20px 0;
}
header h1{
    font-size: 36px;
    color: #fff;
    margin: 0;
}
.logo h2{
    text-align: left;
    margin: 20px;
    font-size: 24px;
    color: #000;
}
.j {
    display: flex; 
    justify-content: center;
    gap: 15px;
    margin: 20px 0;

}
.j a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.vvv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.vuv{
    background-color: #000;
    color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.vuv img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.vuv h3{
    margin: 10px 0;
    font-size: 20px;
    color: #f8d64b;
}
.vuv p{
    font-size: 14px;
}
.zogolovok{
    color: #f8d64b;
}